<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>Portfolio</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
<div class="p-3 mb-2 bg-secondary text-white">

<a class="navbar-brand" href="#">My Resume</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span></button>
<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav">
<li class="nav-item">
<a class="nav-link" href="#academicdetails">Education</a>
</li>

<li class="nav-item">
      <a class="nav-link" href="#skills">Skills</a>
</li>
<li class="nav-item">
      <a class="nav-link" href="#worsh">Workshops</a>
</li>
<li class="nav-item">
      <a class="nav-link" href="#ach">Acheivements</a>
</li>
<li class="nav-item">
      <a class="nav-link" href="#pro">Projects</a>
</li>
<li class="nav-item">
      <a class="nav-link" href="#str">Strengths</a>
</li>
<li class="nav-item">
      <a class="nav-link" href="#hob">Hobbies</a>
</li>
<li class="nav-item">
      <a class="nav-link" href="#con">contact Me</a>
</li>
</ul>
</div>
  </nav>
<hr>
<div class="media">
  <img src={{url_for("static",filename="PP.jpg")}}>
  </div>
  <div class="media-body">
    <h6 class="mt-0">Meenakshi Vutla</h6>
    <button type="button" class="btn btn-dark">B.Tech</button>
  </div>
<hr>
<div id ="career objective">
  <u>
 <h6>Career Objective </h6>
</u>
  <p>Self-motivated and hardworking graduate seeking for an opportunity to work in a challenging environment to prove my coding skills and utilize my knowledge for the growth of the organization.</p><br>
</div>
        <hr>

        <div id = "academicdetails">
          <u>
          <h6>Academic Details </h6>
        </u>
        <table class="table table-hover table-white">
          <thead>
            <tr>
              <th scope="col">Qualification</th>
              <th scope="col">College/School</th>
              <th scope="col">CGPA/MARKS</th>
              <th scope="col">Year Of Passing</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <th scope="row">B.Tech</th>
                <td>NRI Institute Of Technology</td>
                <td>7.88</td>
                <td>2020</td>
              </tr>
              <tr>
                <th scope="row">InterMediate</th>
                <td>Sri Chaitanya Jr.College </td>
                <td>953</td>
                <td>2016</td>
              </tr>
              <tr>
                <th scope="row">SSC</th>
                <td>Geethanjali High School </td>
                <td>9.0</td>
                <td>2014</td>
              </tr>
            </tbody>
          </table>

        </div>
          <hr>
<table class="table table-hover table-danger">

          <div id = "skills">
            <u>
              <h6> Skill Set</h6>
            </u>
            <ul class="list-group">
              <div class="jumbotron">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          C-programming
          <span class="badge badge-primary badge-pill"></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          C++
          <span class="badge badge-primary badge-pill"></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Java
          <span class="badge badge-primary badge-pill"></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Python
          <span class="badge badge-primary badge-pill"></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          HTML
          <span class="badge badge-primary badge-pill"></span>
        </li>
      </div>
      </ul><br>
</div>
</table>
<hr>
<div id= "worsh">
  <u>
    <h6> Workshops </h6>
  </u>
  <p>
    <ul>
 <li> Attended a workshop on Machine Learning during Zeitgeist’19 Conducted by IIT Bombay, a National level tech fest in JNTUK.</li>
<li> Attended a workshop on RAPID MOBILE APP DEVELOPMENT conducted by APSSDC.</li>
</ul>
</div>
<hr>
<div id="ach">
  <u>
    <h6>Acheivements</h6>
  </u>
  <p>
    <ul>
<li> Acquired Topper position at Computer Science in 2nd semester. </li>
<li> Achieved the Prices and Certificates in Technical quiz and Code Debugging. </li>
<li> Completed training on PYTHON PROGRAMMING language. </li>
</ul>
</p>
  </div>
  <div id="pro">
    <u>
      <h6>Projects</h6>
    </u>
    <p>
      <ul>
  <li>STOCK MARKET PREDICTION USING MACHINE LEARNING ALGORITHM
  (22 DEC’19 – 16 MAR’20)
In Stock Market Prediction, the aim is to predict the future values of the financial stocks of the company. In this project, I am using Linear Regression algorithm to represent stock prices in a hyper plane.</li>

  </ul>
  </p>
    </div>
    <div id="str">
      <u>
        <h6>Strengths</h6>
      </u>
      <p>
        <ul>
    <li> Hard worker </li>
    <li> Quick learner </li>
    <li> Eager to learn new technologies </li>
    <li> Leadership Skills </li>
    </ul>
    </p>
      </div>
      <div id="hob">
        <u>
          <h6>Hobbies</h6>
        </u>
        <p>
          <ul>
            <li> Listening Music  </li>
            <li> Painting  </li>
            <li> Travelling </li>
      </ul>
      </p>
        </div>
<div id="con">
<div class="card">

  <button type="button" class="btn btn-light">Contact Me</button>

<div class="card-body">
<span style="padding-left:200px">
<p>Email : meenakshivutla10@gmail.com
</p>
<span style="padding-left:200px">
<p>
  LinkedIn Profile : https://linkedin.com/in/meenakshi-vutla/
</p>
</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>
